In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Sample-Spreadsheet-100-rows.csv', encoding='unicode_escape')

In [3]:
print( df.to_string())

      1                                                 Eldon Base for stackable storage shelf, platinum Muhammed MacIntyre      3  -213.25    38.94     35                Nunavut          Storage & Organization   0.8
0     2                                               1.7 Cubic Foot Compact "Cube" Office Refrigerators       Barry French    293   457.81   208.16  68.02                Nunavut                      Appliances  0.58
1     3                                                 Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl       Barry French    293    46.71     8.69   2.99                Nunavut  Binders and Binder Accessories  0.39
2     4                                                                                             R380      Clay Rozendal    483  1198.97   195.99   3.99                Nunavut    Telephones and Communication  0.58
3     5                                                                         Holmes HEPA Air Purifier     Carlos Soltero    515    30.94    21.78   5.94                Nunavut                      Appliances  0.50
4     6                                                G.E. Longer-Life Indoor Recessed Floodlight Bulbs     Carlos Soltero    515     4.43     6.64   4.95                Nunavut              Office Furnishings  0.37
5     7                                                Angle-D Binders with Locking Rings, Label Holders       Carl Jackson    613   -54.04     7.30   7.72                Nunavut  Binders and Binder Accessories  0.38
6     8                                                          SAFCO Mobile Desk Side File, Wire Frame       Carl Jackson    613   127.70    42.76   6.22                Nunavut          Storage & Organization   NaN
7     9                                                            SAFCO Commercial Wire Shelving, Black     Monica Federle    643  -695.26   138.14  35.00                Nunavut          Storage & Organization   NaN
8    10                                                                                        Xerox 198    Dorothy Badders    678  -226.36     4.98   8.33                Nunavut                           Paper  0.38
9    11                                                                                       Xerox 1980    Neola Schneider    807  -166.85     4.28   6.18                Nunavut                           Paper  0.40
10   12                                                  Advantus Map Pennant Flags and Round Head Tacks    Neola Schneider    807   -14.33     3.95   2.00                Nunavut                    Rubber Bands  0.53
11   13                                                                         Holmes HEPA Air Purifier        Carlos Daly    868   134.72    21.78   5.94                Nunavut                      Appliances  0.50
12   14                                                DS/HD IBM Formatted Diskettes, 200/Pack - Staples        Carlos Daly    868   114.46    47.98   3.61                Nunavut            Computer Peripherals  0.71
13   15                                                   Wilson Jones 1" Hanging DublLock® Ring Binders      Claudia Miner    933    -4.72     5.28   2.99                Nunavut  Binders and Binder Accessories  0.37
14   16                                                    Ultra Commercial Grade Dual Valve Door Closer    Neola Schneider    995   782.91    39.89   3.04                Nunavut              Office Furnishings  0.53
15   17                                              #10-4 1/8" x 9 1/2" Premium Diagonal Seam Envelopes   Allen Rosenblatt    998    93.80    15.74   1.39                Nunavut                       Envelopes  0.40
16   18                                                                      Hon 4-Shelf Metal Bookcases    Sylvia Foulston   1154   440.72   100.98  26.22                Nunavut                       Bookcases  0.60
17   19                   Lesro Sheffield Collection Coffee Table, End Table, Center Table, Corner Table    Sylvia Foulston   1154  -481.04    71.37  69.00                Nunavut                          Tables  0.68
18   20                                                                                             g520        Jim Radford   1344   -11.68    65.99   5.26                Nunavut    Telephones and Communication  0.59
19   21                                                                                           LX 788        Jim Radford   1344   313.58   155.99   8.99                Nunavut    Telephones and Communication  0.58
20   22                                                                                         Avery 52     Carlos Soltero   1412    26.92     3.69   0.50                Nunavut                          Labels  0.38
21   23                                                          Plymouth Boxed Rubber Bands by Plymouth     Carlos Soltero   1412    -5.77     4.71   0.70                Nunavut                    Rubber Bands  0.80
22   24                                      GBC Pre-Punched Binding Paper, Plastic, White, 8-1/2" x 11"        Carl Ludwig   1539  -172.88    15.99  13.18                Nunavut  Binders and Binder Accessories  0.37
23   25                                               Maxell 3.5" DS/HD IBM-Formatted Diskettes, 10/Pack        Carl Ludwig   1539  -144.55     4.89   4.93                Nunavut            Computer Peripherals  0.66
24   26                                                                                       Newell 335         Don Miller   1540     5.76     2.88   0.70                Nunavut             Pens & Art Supplies  0.56
25   27                                                   SANFORD Liquid Accent Tank-Style Highlighters       Annie Cyprus   1702     4.90     2.84   0.93                Nunavut             Pens & Art Supplies  0.54
26   28                                                                               Canon PC940 Copier        Carl Ludwig   1761  -547.61   449.99  49.00                Nunavut                 Copiers and Fax  0.38
27   29                                       Tenex Personal Project File with Scoop Front Design, Black     Carlos Soltero   1792    -5.45    13.48   4.51                Nunavut          Storage & Organization  0.59
28   30                                                                  Col-Erase® Pencils with Erasers      Grant Carroll   2275    41.67     6.08   1.17                Nunavut             Pens & Art Supplies  0.56
29   31                                              Imation 3.5" DS/HD IBM Formatted Diskettes, 10/Pack         Don Miller   2277   -46.03     5.98   4.38                Nunavut            Computer Peripherals  0.75
30   32  White Dual Perf Computer Printout Paper, 2700 Sheets, 1 Part, Heavyweight, 20 lbs., 14 7/8 x 11         Don Miller   2277    33.67    40.99  19.99                Nunavut                           Paper  0.36
31   33                                        Self-Adhesive Address Labels for Typewriters by Universal        Alan Barnes   2532   140.01     7.31   0.49                Nunavut                          Labels  0.38
32   34                                                                                      Accessory37        Alan Barnes   2532   -78.96    20.99   2.50                Nunavut    Telephones and Communication  0.81
33   35                                                                               Fuji 5.2GB DVD-RAM         Jack Garza   2631   252.66    40.96   1.99                Nunavut            Computer Peripherals  0.55
34   36                                                                       Bevis Steel Folding Chairs         Julia West   2757 -1766.01    95.95  74.35                Nunavut              Chairs & Chairmats  0.57
35   37                                                                              Avery Binder Labels     Eugene Barchas   2791  -236.27     3.89   7.01                Nunavut  Binders and Binder Accessories  0.37
36   38                                                   Hon Every-Day® Chair Series Swivel Task Chairs     Eugene Barchas   2791    80.44   120.98  30.00                Nunavut              Chairs & Chairmats  0.64
37   39                                                  IBM Multi-Purpose Copy Paper, 8 1/2 x 11", Case     Eugene Barchas   2791   118.94    30.98   5.76                Nunavut                           Paper  0.40
38   40                                                   Global Troy Executive Leather Low-Back Tilter       Edward Hooks   2976  3424.22   500.98  26.00                Nunavut              Chairs & Chairmats  0.60
39   41                                            XtraLife® ClearVue Slant-D® Ring Binders by Cardinal         Brad Eason   3232   -11.83     7.84   4.71                Nunavut  Binders and Binder Accessories  0.35
40   42                                            Computer Printout Paper with Letter-Trim Perforations      Nicole Hansen   3524    52.35    18.97   9.03                Nunavut                           Paper  0.37
41   43                                                                                             6160     Dorothy Wardle   3908  -180.20   115.99   2.50                Nunavut    Telephones and Communication  0.57
42   44                                                                                         Avery 49      Aaron Bergman   4132     1.32     2.88   0.50                Nunavut                          Labels  0.36
43   45                                                               Hoover Portapower Portable Vacuum        Jim Radford   4612  -375.64     4.48  49.00                Nunavut                      Appliances  0.60
44   46                                                                                   Timeport L7089       Annie Cyprus   4676  -104.25   125.99   7.69                Nunavut    Telephones and Communication  0.58
45   47                                                                                        Avery 510       Annie Cyprus   4676    85.96     3.75   0.50                Nunavut                          Labels  0.37
46   48                                                                                       Xerox 1881       Annie Cyprus   4676    -8.38    12.28   6.47                Nunavut                           Paper  0.38
47   49                                                                                           LX 788       Annie Cyprus   4676  1115.69   155.99   8.99                Nunavut    Telephones and Communication  0.58
48   50                                                 Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl       Annie Cyprus   5284    -3.05     8.69   2.99                Nunavut  Binders and Binder Accessories  0.39
49   51                                                                    Memorex 4.7GB DVD-RAM, 3/Pack      Clay Rozendal   5316   514.07    31.78   1.99                Nunavut            Computer Peripherals  0.42
50   52                                                                              Unpadded Memo Slips          Don Jones   5409    -7.04     3.98   2.97                Nunavut                           Paper  0.35
51   53     Adams Telephone Message Book W/Dividers/Space For Phone Numbers, 5 1/4"X8 1/2", 300/Messages      Beth Thompson   5506     4.41     5.88   3.04                Nunavut                           Paper  0.36
52   54                                       Eldon Expressions Desk Accessory, Wood Pencil Holder, Oak        Frank Price   5569    -0.06     9.65   6.22                Nunavut              Office Furnishings  0.55
53   55                                                                     Bell Sonecor JB700 Caller ID  Michelle Lonsdale   5607   -50.33     7.99   5.03                Nunavut    Telephones and Communication  0.60
54   56                                                                          Avery Arch Ring Binders          Ann Chong   5894    87.68    58.10   1.49                Nunavut  Binders and Binder Accessories  0.38
55   57                                                 APC 7 Outlet Network SurgeArrest Surge Protector          Ann Chong   5894   -68.22    80.48   4.50                Nunavut                      Appliances  0.55
56   58                                Deflect-o RollaMat Studded, Beveled Mat for Medium Pile Carpeting           Joy Bell   5925  -354.90    92.23  39.61                Nunavut              Office Furnishings  0.67
57   59                                                                                       Accessory4           Joy Bell   5925  -267.01    85.99   0.99                Nunavut    Telephones and Communication  0.85
58   60                                                     Personal Creations Ink Jet Cards and Labels       Skye Norling   6016     3.63    11.48   5.43                Nunavut                           Paper  0.36
59   61                                                      High Speed Automatic Electric Letter Opener      Barry Weirich   6116 -1759.58  1637.53  24.49                Nunavut   Scissors, Rulers and Trimmers  0.81
60   62                                                                                       Xerox 1966      Grant Carroll   6182  -116.79     6.48   6.65                Nunavut                           Paper  0.36
61   63                                                                                        Xerox 213      Grant Carroll   6182   -67.28     6.48   7.86                Nunavut                           Paper  0.37
62   64                                     Boston Electric Pencil Sharpener, Model 1818, Charcoal Black        Adrian Hane   6535   -19.33    28.15   8.99                Nunavut             Pens & Art Supplies  0.57
63   65                                             Hammermill CopyPlus Copy Paper (20Lb. and 84 Bright)       Skye Norling   6884   -61.21     4.98   4.75                Nunavut                           Paper  0.36
64   66                                Telephone Message Books with Fax/Mobile Section, 5 1/2" x 3 3/16"       Skye Norling   6884   119.09     6.35   1.02                Nunavut                           Paper  0.39
65   67                                                                                   Crate-A-Files    Andrew Gjertsen   6916  -141.27    10.90   7.46                Nunavut          Storage & Organization  0.59
66   68                                                Angle-D Binders with Locking Rings, Label Holders       Ralph Knight   6980   -77.28     7.30   7.72                Nunavut  Binders and Binder Accessories  0.38
67   69                                                       80 Minute CD-R Spindle, 100/Pack - Staples     Dorothy Wardle   6982   407.44    39.48   1.99                Nunavut            Computer Peripherals  0.54
68   70                         Bush Westfield Collection Bookcases, Dark Cherry Finish, Fully Assembled     Dorothy Wardle   6982  -338.27   100.98  57.38                Nunavut                       Bookcases  0.78
69   71                                                                 12-1/2 Diameter Round Wall Clock     Dorothy Wardle   6982    52.56    19.98  10.49                Nunavut              Office Furnishings  0.49
70   72                                                                         SAFCO Arco Folding Chair      Grant Carroll   7110  1902.24   276.20  24.49                Nunavut              Chairs & Chairmats   NaN
71   73                                                       #10 White Business Envelopes,4 1/8 x 9 1/2      Barry Weirich   7430   353.20    15.67   1.39                Nunavut                       Envelopes  0.38
72   74                                                                            3M Office Air Cleaner         Beth Paige   7906   271.78    25.98   5.37                Nunavut                      Appliances  0.50
73   75                                                    Global Leather and Oak Executive Chair, Black    Sylvia Foulston   8391  -268.36   300.98  64.73                Nunavut              Chairs & Chairmats  0.56
74   76                                                                                       Xerox 1936      Nicole Hansen   8419    70.39    19.98   5.97                Nunavut                           Paper  0.38
75   77                                                                                        Xerox 214      Nicole Hansen   8419   -86.62     6.48   7.03                Nunavut                           Paper  0.37
76   78                                       Carina Double Wide Media Storage Towers in Natural & Black      Nicole Hansen   8833  -846.73    80.98  35.00                Nunavut          Storage & Organization  0.81
77   79                                                              Staples® General Use 3-Ring Binders         Beth Paige   8995     8.05     1.88   1.49                Nunavut  Binders and Binder Accessories  0.37
78   80                                                                                       Xerox 1904         Beth Paige   8995   -78.02     6.48   5.86  Northwest Territories                           Paper  0.36
79   81                                                     Luxo Professional Combination Clamp-On Lamps         Beth Paige   8995   737.94   102.30  21.26  Northwest Territories              Office Furnishings  0.59
80   82                                                                                        Xerox 217         Beth Paige   8995  -191.28     6.48   8.19  Northwest Territories                           Paper  0.37
81   83                                                              Revere Boxed Rubber Bands by Revere         Beth Paige   8995   -21.49     1.89   0.76  Northwest Territories                    Rubber Bands  0.83
82   84                           Acco Smartsocket Table Surge Protector, 6 Color-Coded Adapter Outlets    Sylvia Foulston   9126   884.08    62.05   3.99  Northwest Territories                      Appliances  0.55
83   85                         Tennsco Snap-Together Open Shelving Units, Starter Sets and Add-On Units        Bryan Davis   9127  -329.49   279.48  35.00  Northwest Territories          Storage & Organization  0.80
84   86                                               Hon 4070 Series Pagoda Round Back Stacking Chairs           Joy Bell   9509  2825.15   320.98  58.95  Northwest Territories              Chairs & Chairmats  0.57
85   87                                                                                       Xerox 1887           Joy Bell   9509     2.13    18.97   5.21  Northwest Territories                           Paper  0.37
86   88                                                                                       Xerox 1891           Joy Bell   9509   707.15    48.91   5.81  Northwest Territories                           Paper  0.38
87   89                                                                                        Avery 506        Alan Barnes   9763    75.13     4.13   0.50  Northwest Territories                          Labels  0.39
88   90               Bush Heritage Pine Collection 5-Shelf Bookcase, Albany Pine Finish, *Special Order      Grant Carroll   9927  -270.63   140.98  53.48  Northwest Territories                       Bookcases  0.65
89   91                                                     Lifetime Advantage Folding Chairs, 4/Carton      Grant Carroll   9927  3387.35   218.08  18.06  Northwest Territories              Chairs & Chairmats  0.57
90   92                                                            Microsoft Natural Multimedia Keyboard      Grant Carroll   9927   -82.16    50.98   6.50  Northwest Territories            Computer Peripherals  0.73

In [5]:
sampledata = pd.read_csv('titanic.csv', encoding='unicode_escape')

In [8]:
print(sampledata)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
# drop_row = sampledata.drop([0,1], inplace=True)
# drop_col = sampledata.drop("Age", axis=1, inplace=True)

In [6]:
subset = sampledata.loc[sampledata["Age"]>25, ["Name","Age"]]
print(subset)

                                                  Name   Age
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
6                              McCarthy, Mr. Timothy J  54.0
..                                                 ...   ...
883                      Banfield, Mr. Frederick James  28.0
885               Rice, Mrs. William (Margaret Norton)  39.0
886                              Montvila, Rev. Juozas  27.0
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[413 rows x 2 columns]

In [15]:
subset2 = sampledata.loc[(sampledata["Survived"] == 1) & (sampledata["SibSp"] > 2), ["Name","Age", "SibSp"]]

print(subset2)

                                                  Name   Age  SibSp
68                     Andersson, Miss. Erna Alexandra  17.0      4
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  33.0      3
88                          Fortune, Miss. Mabel Helen  23.0      3
233                     Asplund, Miss. Lillian Gertrud   5.0      4
261                  Asplund, Master. Edvin Rojj Felix   3.0      4
341                     Fortune, Miss. Alice Elizabeth  24.0      3
726        Renouf, Mrs. Peter Henry (Lillian Jefferys)  30.0      3

In [18]:
#Ranking and sorting
sampledata.sort_values(by="Age", ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [33]:
sampledata["rank"] = sampledata["Age"].rank(method="min")

sampledata.sort_values(by='maxrank', ascending=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,maxrank,rank
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1.0,1.0
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2.0,2.0
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3.0,3.0
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3.0,3.0
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,NaN,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,NaN,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,NaN

In [36]:
sampledata["Age"].sum()
sampledata.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,maxrank,rank
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,714.000000,714.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,350.162465,350.162465
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,207.461019,207.461019
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,168.750000,168.750000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,338.000000,338.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,527.000000,527.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,714.000000,714.000000

In [40]:
sampledata.loc[(sampledata["Age"] == 28),["Survived", "Fare"]]

     Survived     Fare
23          1  35.5000
34          0  82.1708
83          0  47.1000
100         0   7.8958
105         0   7.8958
169         0  56.4958
200         0   9.5000
281         0   7.8542
313         0   7.8958
342         0  13.0000
355         0   9.5000
392         0   7.9250
399         1  12.6500
403         0  15.8500
423         0  14.4000
426         1  26.0000
430         1  26.5500
443         1  13.0000
508         0  22.5250
562         0  13.5000
635         1  13.0000
756         0   7.7958
848         0  33.0000
874         1  24.0000
883         0  10.5000

In [44]:
sampledata.loc[sampledata["Age"].isna(), ["PassengerId", "Age"]]

     PassengerId  Age
5              6  NaN
17            18  NaN
19            20  NaN
26            27  NaN
28            29  NaN
..           ...  ...
859          860  NaN
863          864  NaN
868          869  NaN
878          879  NaN
888          889  NaN

[177 rows x 2 columns]